In [1]:
Girls = ['Samantha  ', 'Jada      ','Jane      ','Claire    ','Elizabeth ','Mary      ','Susan     ','Waje      ','Taibat    ','Lilian    ']
G_age = ['17','16', '17', '18', '16', '18', '17','20', '19', '17']
G_height = ['5.5','6.0','5.4','5.9','5.6','5.5','6.1','6.0','5.7','5.5']
G_score = ['80','85','70','60','76','66','87','95','50','49']
Boys = ['Charles   ','Jude      ','James     ','Kelvin    ','Biodun    ','Wale      ', 'Kunle     ','Matthew   ', 'Tom       ' ,'Kayode    ']
B_age = ['19','16','18', '17','20', '19','16','18', '17','19']
B_height = ['5.7','5.9','5.8','6.1','5.9','5.5','6.1','5.4','5.8','5.7']
B_score = ['74','87','75','68','66','78','87','98','54','60']

print('Name       | Age | Height | Score|')
print('-----------------------------------')
for num in range(len(Girls)):
    print(Girls[num], "|" ,G_age[num]," | ", G_height[num], "  | ", G_score[num]," | ")
for num in range(len(Boys)):
    print(Boys[num],"|",B_age[num]," | ",B_height[num],"  | ",B_score[num]," | ")

Name       | Age | Height | Score|
-----------------------------------
Samantha   | 17  |  5.5   |  80  |
Jada       | 16  |  6.0   |  85  |
Jane       | 17  |  5.4   |  70  |
Claire     | 18  |  5.9   |  60  |
Elizabeth  | 16  |  5.6   |  76  |
Mary       | 18  |  5.5   |  66  |
Susan      | 17  |  6.1   |  87  |
Waje       | 20  |  6.0   |  95  |
Taibat     | 19  |  5.7   |  50  |
Lilian     | 17  |  5.5   |  49  |
Charles    | 19  |  5.7   |  74  |
Jude       | 16  |  5.9   |  87  |
James      | 18  |  5.8   |  75  |
Kelvin     | 17  |  6.1   |  68  |
Biodun     | 20  |  5.9   |  66  |
Wale       | 19  |  5.5   |  78  |
Kunle      | 16  |  6.1   |  87  |
Matthew    | 18  |  5.4   |  98  |
Tom        | 17  |  5.8   |  54  |
Kayode     | 19  |  5.7   |  60  |

In [8]:
Year = int(input("Enter the number of years of experience you have:"))
Age = int(input("Enter your age:"))

if Year > 25:
    if Age >= 55:
        print("Your Annual Tax Revenue = N5,600,00")

if Year > 20 and Age >= 45:
    print("Your Annual Tax Revenue = N4,480,000")
    
if Year > 10 and Age >= 35:
    print("Your Annual Tax Revenue = N1,500,000")
elif Year < 10 and Age < 35:
    print("Your Annual Tax Revenue = N550,000")

Enter the number of years of experience you have:3
Enter your age:20
Your Annual Tax Revenue = N550,000